@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
